body {
  margin: 0px;
}

.header {
  font:Roboto;
  background: #1f2937;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}

.links {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.content {
  display: flex;
  flex-direction: column;
}

.aw {
  display: flex;
  padding: 48px;
  font:Roboto;
  background: #1f2937;
  color: #F9FAF8;
  justify-content: space-between;
  gap: 24px;
}

.awleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.awltop {
  font: Roboto;
  font-size: 48px;
  font-weight: 900;
}

.awleftbottom {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
}

.su {
  background-color: #3882F6;
}
