body {
  margin: 0px;
  font-family: Roboto;
}

.header {
  background: #1f2937;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}

.links {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.content {
  display: flex;
  flex-direction: column;
}

.aw {
  display: flex;
  padding: 48px;
  background: #1f2937;
  color: #F9FAF8;
  justify-content: space-between;
  gap: 24px;
}

.awleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.awltop {
  font: Roboto;
  font-size: 48px;
  font-weight: 900;
}

.awleftbottom {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
  color: white;
  border-color: white;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.headerbutton {
  border-color: #1f2937;
  border-style: solid;
}

.riimage {
  display: flex;
  border-radius: 8px;
  border-color: #3882F6;
  border-style: solid;
  overflow: hidden;
}

.ri {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px;
}

.rititle {
  font: Roboto;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.ribody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 48px;
  padding: 24px;
}

.ri1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 120px;
  flex-wrap: wrap;
}

.ri2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 120px;
  flex-wrap: wrap;
}

.ri3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 120px;
  flex-wrap: wrap;
}

.ri4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 120px;
  flex-wrap: wrap;
}

.iq {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 60px;
}

.q {
  display: flex;
  color: #1F2937;
  flex-direction: column;
  flex-wrap: wrap;
}

.quote {
  font: 36px;
  font-weight: light;
  font-style: italic;
  width: 400px;
}

.attribution {
  text-align: right;
  font-weight: bold;
}

.su {
  background-color: #3882F6;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 50px;
  margin: 50px;
}

.suheader {
  font-size: large;
  font-weight: bold;
}

.subody {
  font-size: small;
}

.subutton {
  height: 29px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 20px;
}